* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(94, 92, 92);
}

.naviHolder,
.preShop,
.TrackGift,
.navi,
.lNavi,
.rNavi,
.logoNav,
.navLinks,
.allNavsClicked,
.displayNavClick {
  display: flex;
}

.naviHolder,
.logoNav,
.show,
.allNavsClicked {
  flex-direction: column;
}

.naviHolder,
.rNavi,
.lNavi,
.navLinks {
  align-items: center;
}

.preShop,
.navi {
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.naviHolder {
  justify-content: space-between;
  padding-top: 20px;
  height: 150px;
}

.preShop {
  font-size: 0.85rem;
  width: 100%;
  padding-bottom: 20px;
}

.TrackGift {
  gap: 20px;
}

.navi {
  width: 100%;
  height: 7rem;
  background-color: white;
  border-top: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);
  padding-top: 10px;
  padding-bottom: 10px;
}

.cakeFace {
  font-style: italic;
}

.hidden {
  display: none;
}

.preShop {
  width: 100%;
}

.cake {
  width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.login,
.bag {
  width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.navLinks {
  gap: 40px;
}

.lNavi {
  gap: 4rem;
}

.rNavi {
  gap: 20px;
}

.shopCategories:hover,
.track:hover,
.gift:hover {
  cursor: pointer;
}

.naviHolder {
  position: sticky;
  top: 0;
  background-color: white;
}
.displayNavClick {
  background-color: rgb(255, 255, 255);
  align-self: start;
  width: 200px;
}

a {
  text-decoration: none;
}
